.om-dropdown {
  display: flex;

  &-container {
    position: relative;
  }

  &-trigger:hover {
    cursor: pointer;
    background-color: rgb(230, 233, 237);
  }

  &-menu {
    position: absolute;
    top: 100%;
    width: 200px;
    padding: 4px 0;

    display: flex;
    flex-direction: column;

    cursor: pointer;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12), 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.08);
  }

  &-entry {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 4px;

    user-select: none;
    color: rgb(35, 51, 73);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;

    &:hover {
      background: rgb(245, 247, 250);
    }

    &-label {
      display: flex;

      &-text {
        margin-left: 9px;
      }
    }

    &-expand-icon {
      margin-left: auto;
    }
  }
}
